body {
	background: #eee;
	text-align: center;
	padding: 0 25px;
}

#main {
	width: 880px;
	margin: auto;
	text-align: left;
	background: white;
	padding: 50px 60px;
	border: solid #ddd;
	border-width: 0 1px 1px 1px;
}

#main h1 {
	margin-top: 0;
	text-align: center;
	font-size: 35px;
}

#controlPanel {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background: #f2f2f2;
    text-align: right;
}

#controlPanel h3 {
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 1px;
}

#controlPanel button {
    margin-right: 5px;
}

input {
	margin-right: 10px;
}

input[type="checkbox"] {
    margin-left: 20px;
}

button.tableHeaderControl {
    margin-right: 2px;
    border: none;
    background: none;
}

td.actionCell {
    text-align: right;
}

table.datagrid , td.datagrid, th.datagrid{
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #fffff;
}

tr.topRow th {
    padding-top: 5px;
    border-bottom: 2px solid #8a8a8a;
}

th.selectionTableHeader {
    text-align: right;
}

tbody tr:nth-child(odd) {
   background-color: #e3e3e3;
}